.recTransItem {
    display: contents;
}

.itemSpan {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    font-family: var(--font-main);
    color: var(--third-color);
}

.actionsDiv {
    display: flex;
}

.editBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    margin-right: 10px;
    flex: 1;
    align-self: center;
}

.deleteBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    margin-right: 20px;
    flex: 1;
    align-self: center;
    color: red;
}