.App {
  text-align: center;
}

body, html {
  background-color: rgb(41, 39, 39);
  margin: 0;
  padding: 0;
}

* { 
  box-sizing: border-box; 
}

.LoadingText, .NoDataMessage, .ErrorText {
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}