@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.FilterDiv {
  flex: 1;
  border-radius: 15px;
  color: orange;
  font-family: 'Outfit', sans-serif;
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  padding-right: 20px;
}

.MonthSelect, .YearSelect, .TypeSelect, .CategorySelect {
  background-color: #1b1919;
  color: orange;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
  width: auto;
}

.MonthSelect:hover, .YearSelect:hover, .TypeSelect:hover, .CategorySelect:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .FilterDiv {
    flex-direction: column; 
    align-items: flex-start;   
  }

  .FilterDiv select {
    width: auto;          
  }

 .CategorySelect {
  max-width: 110px;
 }
}