.form {
    display: contents;
}

.fieldInput {
    composes: inputBase from '../../../styles/shared.module.css';
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
}

.fieldSelect {
    composes: selectBase from '../../../styles/shared.module.css';
    text-align: left;
    margin-left: 15px;
    font-size: 16px;
}

.addBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    margin-right: 20px;
    display: flex;   
    justify-content: flex-end; 
    justify-self: end; 
    align-self: center;
}

.errorSpan {
    color: red;
    font-family: var(--font-main);
    padding-left: 20px;
}

@media (max-width: 600px) {
    .fieldInput {
        margin: 20px;
        text-align: center;
    }

    .fieldSelect {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .fieldInput::before {
        content: "Name: "
    }

    .addBtn {
        margin-left: 20px;
        margin-right: 20px;
    }
}