.form {
    display: contents;
}

.amountWrapper {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.currencySymbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--primary-color);
    font-family: var(--font-main);
    left: 5px;
}

.fieldInput {
    composes: inputBase from '../../../styles/shared.module.css';
    font-size: 16px;
    text-align: center;
}

.fieldSelect {
    composes: selectBase from '../../../styles/shared.module.css';
    font-size: 16px;
    text-align: center;
}

.currencyWrapper {
    position: relative;
    display: inline-flex;
}

.errorSpan {
    color: red;
    font-family: var(--font-main);
    font-size: 16px;
    padding-top: 10px;
}

.actionsDiv {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}

.addBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    justify-content: flex-end; 
    justify-self: end; 
    align-self: center;
}

.cancelBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    justify-content: flex-end; 
    justify-self: end; 
    align-self: center;
}

/*Mobile Adjustments*/
@media (max-width: 1500px) {
    .amountWrapper {
        justify-self: center;
        padding: 0;
    }

    .currencySymbol {
        padding: 0px;
        left: 25px;
        color: var(--third-color)
    }

    .typeWrapper, .categoriesWrapper, .counterpartyWrapper, .frequencyWrapper, .startDateWrapper, .endDateWrapper {
        justify-self: center;
    }

    .fieldInput, .fieldSelect {
        margin-left: 20px;
        margin-right: 20px;
        justify-self: center;
        color: var(--third-color);
        display: flex;
        flex-direction: column;
    }

    .amountWrapper::before { content: "Amount:"; }
    .typeWrapper::before { content: "Type:"; }
    .categoriesWrapper::before { content: "Category:"; }
    .counterpartyWrapper::before { content: "Counterparty:"; }
    .frequencyWrapper::before { content: "Frequency:"; }
    .startDateWrapper::before { content: "Start Date:"; }
    .endDateWrapper::before { content: "End Date (Optional):"; }

    .form div[class*="Wrapper"]::before {
        font-weight: bold;
        color: var(--primary-color);
        font-family: var(--font-main);
        display: block;
        margin-bottom: 10px;
    }

    .actionsDiv {
        justify-content: center;
        padding-bottom: 20px;
    }

    .addBtn {
        justify-self: center;
        margin: 0px;
    }

    .fieldInput[type="date"]::before {
        content: attr(placeholder);
        width: 100%;
        color: var(--primary-color);
    }

    .fieldInput[type="date"]:focus::before,
    .fieldInput[type="date"]:valid::before {
        display: none;
        content: "";
    }
}