.filterDiv {
  flex: 1;
  border-radius: 15px;
  color: orange;
  font-family: 'Outfit', sans-serif;
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  padding-right: 20px;
}

.monthSelect, .yearSelect, .typeSelect, .categorySelect {
  background-color: #1b1919;
  color: orange;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
  width: auto;
}

.monthSelect:hover, .yearSelect:hover, .typeSelect:hover, .categorySelect:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .filterDiv {
    flex-direction: column; 
    align-items: flex-start;   
  }

  .filterDiv select {
    width: auto;          
  }

 .categorySelect {
  max-width: 110px;
 }
}