.filterDiv {
  flex: 1;
  border-radius: 15px;
  color: var(--primary-color);
  font-family: var(--font-main);
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  padding-right: 20px;
}

.monthSelect, .yearSelect, .typeSelect, .categorySelect {
  composes: selectBase from '../../styles/shared.module.css';
}

@media (max-width: 1000px) {
  .filterDiv {
    flex-direction: column; 
    align-items: flex-start;   
  }

  .filterDiv select {
    width: auto;          
  }

 .categorySelect {
  max-width: 110px;
 }
}