.loginDiv {
    align-content: center;
    height: 100vh;
}

.heading {
    font-size: 30px;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.appTitle {
    font-size: 60px;
    color: orange;
    font-family: 'Outfit', sans-serif;
}

.loginPromptDiv {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}