.loginDiv {
    align-content: center;
    height: 100vh;
}

.heading {
    font-size: 30px;
    color: var(--third-color);
    font-family: var(--font-main);
}

.appTitle {
    font-size: 60px;
    color: var(--primary-color);
    font-family: var(--font-main);
}

.loginPromptDiv {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}