.transDiv {
    justify-content: center;
    background-color: #1b1919;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.transRow {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    gap: 15px;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid orange;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    align-items: center;
    justify-content: start;
}

.transRow span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  font-weight: bold;
  border-bottom: 3px solid orange;
  color: orange;
}

.monthHeader {
    color: orange;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 10px 5px;
    border-bottom: 2px solid #333;
    margin-top: 10px;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 10px;
}

.editBtn, .deleteBtn {
  background-color: #1b1919;
  color: orange;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}
.deleteBtn {
  color: red;
}

.editBtn:hover, .deleteBtn:hover {
  cursor: pointer;
}

.emptySpan {
  padding-left: 95px;
}

/* Mobile Adjustments */
@media (max-width: 800px) {
  .counterparty, .category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .transRow.header {
    display: none;
  }

  .date::before { content: "Date: "; }
  .amount::before { content: "Amount: "; }
  .counterparty::before { content: "Counterparty: "; }
  .category::before { content: "Category: "; }

  .transRow span::before {
    font-weight: bold;
    color: orange;   
  }

  .transRow {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    border-bottom: 1px solid orange;
    align-items: center;
  }

  .transRow span {
    display: block; 
    width: auto;    
    text-align: left;
    font-size: 16px; 
    margin: 2px auto;
  }
  
  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}