.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0;          
  top: 50%;
  transform: translateY(-50%);
}

.bm-burger-bars {
  background: var(--third-color);
  border-radius: 15px;
}
.bm-burger-bars-hover {
  background: var(--primary-color);
}

.bm-cross {
  background: var(--third-color);
}

.bm-menu-wrap {
  width: auto !important;
  height: auto !important;    
  min-width: 125px;
}

.bm-menu {
  background: var(--background-color);
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--primary-color);
}

.bm-item-list {
  display: flex !important;
  flex-direction: column; 
  gap: 10px; 
  align-items: flex-start;         
}

.menu-item {
  color: var(--primary-color);
  font-family: var(--font-main);
  font-size: 20px;
  text-decoration: none !important;
  font-weight: bold;
}