.averagesDiv {
    display: flex;
}

.typicalSpend, .belowTypical {
    flex: 1;
}

.typicalSpend h2, .belowTypical h2{
    color: orange;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}