@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.AveragesDiv {
    display: flex;
}

.TypicalSpend, .BelowTypical {
    flex: 1;
}

.TypicalSpend h2, .BelowTypical h2{
    color: orange;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}