.countSelectorDiv {
    padding-top: 20px;
}

.label {
    padding-right: 20px;
    color: var(--third-color);
    font-family: var(--font-main);
    font-weight: bold;
}

.fieldInput {
    composes: inputBase from '../../styles/shared.module.css';
    width: 50px;
}

.submitBtn {
    composes: btnBase from '../../styles/shared.module.css';
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}