@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.countSelectorDiv {
    padding-top: 20px;
}

.label {
    padding-right: 20px;
}

.fieldInput {
    background-color: #1b1919;
    color: orange;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    width: 50px;
}

.submitBtn {
    margin-top: 20px;
    background-color: #1b1919;
    color: orange;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.submitBtn:hover {
    cursor: pointer;
}