@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.fieldsDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid orange;
    padding-bottom: 20px;
    margin-top: 20px;
}

.heading {
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    color: orange;
    margin-bottom: 0px;
}

.fieldInput {
    background-color: #1b1919;
    color: orange;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.label {
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.amountInput {
  padding-left: 25px !important;
  width: 75px;
}

.error {
    color: red;
    font-family: 'Outfit', sans-serif;
    padding-top: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.currencySymbol {
  position: absolute;
  left: 2px;        
  top: 50%;           
  transform: translateY(-50%);
  color: orange;
  font-family: 'Outfit', sans-serif;
  pointer-events: none;
  line-height: 1;
}