.budgetItem {
    display: contents;
}

.itemSpan {                 
    margin: 0;
    padding-left: 20px;
    display: block;
    color: var(--third-color);
    font-family: var(--font-main);
    text-align: left;
    font-size: 20px;
    min-width: 0;
    width: 100%;
}

.actionsDiv {
    display: flex;
    gap: 10px;    
    justify-content: flex-end; 
    justify-self: end;     
}

.editBtn {
    composes: btnBase from '../../../styles/shared.module.css';
}

.deleteBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    color: red;
    margin-right: 20px;
}

/*Editing Budget*/
.submitBtn {
    composes: btnBase from '../../../styles/shared.module.css';
}

.cancelBtn {
    composes: btnBase from '../../../styles/shared.module.css';
    margin-right: 20px;
}

.textInput {
    composes: inputBase from '../../../styles/shared.module.css';
    width: 100%;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    width: 100%;
    min-width: 70px;
    margin: 0;
    border: none;
}

.categorySelect {
    composes: selectBase from '../../../styles/shared.module.css';
    width: 100%;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    min-width: 0px;
}

.inputWrapper {
    display: flex !important;
    align-items: center;
    margin-left: 15px;
    padding-left: 5px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-main);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    min-width: 0;
}

.currencySymbol {
    color: var(--primary-color);
    font-family: var(--font-main);
    font-size: 20px;
}

/* Mobile Adjustments */
@media (max-width: 800px) {
    .budgetItem span, .currencySymbol, .categorySelect, .textInput {                 
        font-size: 16px;
    }
}