.navBarDiv {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  background-color: black;
  padding: 0 20px; 
  border-bottom: 2px solid orange;
}

.sideBarDiv {
  flex: 1;
  position: relative; /* Establish positioning context for the child */
  height: 100%;       /* Match the parent's height */
  display: flex;      /* Allows for flex-based centering */
  align-items: center; 
}

.navBarDiv > div {
  display: flex;
  align-items: center;
}

.navBarDiv > div:nth-child(2) {
  justify-content: center;
  flex: 2;
}

.navBarDiv > div:nth-child(3) {
  flex: 1;
  display: flex;             
  justify-content: flex-end; 
  text-align: right;
}

.headingH1 {
  font-size: 60px;
  color: orange;
  font-family: 'Outfit', sans-serif;
}
.userH1 {
  font-size: 30px;
  color: white;
  font-family: 'Outfit', sans-serif;
  margin-right: 0px;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
  .userH1 {
    font-size: 1.0rem;
  }

  .headingH1 {
    font-size: 30px;
  }
}