.navBarDiv {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  background-color: var(--secondary-color);
  padding: 0 20px; 
  border-bottom: 2px solid var(--primary-color);
}

.sideBarDiv {
  flex: 1;
  position: relative; 
  height: 100%;       
  display: flex;      
  align-items: center; 
}

.navBarDiv > div {
  display: flex;
  align-items: center;
}

.navBarDiv > div:nth-child(2) {
  justify-content: center;
  flex: 2;
}

.navBarDiv > div:nth-child(3) {
  flex: 1;
  display: flex;             
  justify-content: flex-end; 
  text-align: right;
}

.headingH1 {
  font-size: 60px;
  color: var(--primary-color);
  font-family: var(--font-main);
}
.userH1 {
  font-size: 30px;
  color: var(--third-color);
  font-family: var(--font-main);
  margin-right: 0px;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
  .userH1 {
    font-size: 1.0rem;
  }

  .headingH1 {
    font-size: 30px;
  }
}