.graphsDiv {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    height: 400px;
    display: flex;
}

/*Mobile View*/
@media screen and (max-width: 800px) {
  .graphsDiv {
    flex-direction: column;
    gap: 20px;
  }
}